@import "./variables.scss";

.container {
  @include measure(100%, 40%);
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    padding: 0.7rem;

    li {
      list-style-type: none;
      margin: 1.25rem 0;

      display: flex;
      align-items: center;
      gap: 0.7rem;

      img {
        @include measure(3.13rem, 3.13rem);
        border-radius: 100%;
      }

      img:last-child {
        border-radius: 3px;
      }

      button {
        @include measure(2rem, 5rem);
        border-radius: 3px;
        background: $theme-color;
        color: $bg-secondary;
        font-weight: 600;
      }

      img,
      button {
        &:last-child {
          margin-left: auto;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .container {
    width: 100%;
  }
}
