@import "./variables.scss";

.main {
    @include measure(100%, 80%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2.5rem;
    overflow: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }

    img {
        width: 100%;
    }
}

.search {
    @include measure(10%, 100%);
    display: none;
    text-align: center;

    input {
        @include measure(80%, 80%);
        border: none;
        border-radius: 6px;
        background: $bg-primary;
        text-indent: 0.7rem;
        margin-top: 0.7rem;
        font-family: $theme-font;

    }

    img {
        margin-left: 2.5rem;
    }
}

.categories {
    @include measure (10%, 100%);
    display: none;
    align-items: center;
    gap: 0.7rem;

    button {
        @include measure(70%, 20%);
        border: 1px solid $box-border;
        border-radius: 6px;
        font-weight: 600;

    }


}

@media (max-width: 760px) {
    .main {
        width: 100%;
        gap: 2px;
    }

    .search {
        display: block;
    }

    .categories {
        display: flex;
    }
}