@import "./variables.scss";


* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: $body-background;
  font-size: 0.9rem;
  font-family: $theme-font;
}

header,
footer {
  @include measure (10%, 100%);
  @include flexbox (row, center, space-evenly);
  background: $bg-secondary;

  input {
    @include measure (50%, 15.7rem);
    background: $bg-primary;
    border: 1px solid $box-border;
    outline: none;
    border-radius: 0.4rem;
    text-indent: 1.25rem;

    &::placeholder {
      font-family: $theme-font;
    }
  }
}

button, a, input {
  cursor: pointer;
}

.desktop-header {
  width: 18.75rem;
  display: flex;
  justify-content: space-evenly;

  #profile-img {
        @include measure(1.9rem, 1.9rem);
        border-radius: 100%;
  }
}

.mobile-header {
  display: none;
}

footer {
  display: none;
}

button {
  background: transparent;
  border: none;
  outline: none;

  img {
    @include measure(1.5rem, 1.5rem);

  }
}

@media (max-width: 760px) {
  body {
    font-size: 1rem;
  }

  header {
    #desktop-logo,
    input,
    .desktop-header {
      display: none;
    }
  }

  .mobile-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 0.7rem;
  }

  footer {
    display: flex;
    justify-content: space-between;
    &:first-child, :last-child {
      padding: 0 0.7rem;
    }

    #profile-img {
      @include measure(1.7rem, 1.7rem);
      border-radius: 100%;
}
  }
}
