@import "./variables.scss";

.main {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.7rem;
  overflow-x: hidden;
  overflow-y: scroll;
  &:-webkit-scrollbar {
    display: none;
  }
}

.content {
  @include flexbox(column, flex-end, flex-start);
  width: 60%;
  gap: 1.25rem;
  padding-top: 1.9rem;
  padding-right: 1.25rem;

  section {
    width: 70%;
  }
}

.stories {
 @include flexbox(row, center, normal); 
  height: 25%;
  background: $bg-secondary;
  border: 1px solid $box-border;
  font-size: 0.9rem;

  div {
    padding: 0.5rem;

    img {
      @include measure(3.13rem, 3.13rem);
      border-radius: 100%;
      border: 2px solid tomato;
      padding: 2px;
    }
  }
}

.feed {
  height: 100%;
  border: 1px solid $box-border;
  background: $bg-secondary;
}

.post {
  display: flex;
  flex-direction: column;
}

.user,
.actions {
  display: flex;
  gap: 5px;
  margin: 0.7rem;
  white-space: nowrap;

  #profile-img {
    @include measure(2.5rem, 2.5rem);
    border-radius: 100%;
  }

  button {
    width: 2.5rem;
    &:last-child {
      margin-left: auto;
    }
  }
}

.caption {
  display: flex;
  gap: 5px;
  margin-top: 0.7rem;
}

.side-content {
  width: 50%;
  padding-top: 1.9rem;

  aside {
    width: 70%;

    button {
      color: $theme-color;
      font-weight: 600;
    }
  }
}

.suggestions {
  font-size: 0.75rem;
  white-space: nowrap;

  img {
    @include measure(2.20rem, 2.20rem);
    border-radius: 100%;
  }
}

@media (max-width: 760px) {
  .content {
    padding: 0;
    align-items: center;
    width: 100%;
    gap: 0;
    border: none;

    section {
      width: 100%;
    }
  }

  .stories {
      border: none;
  }

  .side-content {
    display: none;
  }
}
