.header-mobile {
  width: 100%;
  height: 10%;
  display: none;
  align-items: center;
  font-weight: 600;
  background: #fafafa;

  span {
    margin-left: auto;
  }

  img {
    margin-left: auto;
    margin-right: 10px;
  }
}

.main-content {
  height: 100%;
  width: 60%;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  nav {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    button {
      width: 100%;
      height: 100%;
      background: transparent;
      border-top: 1px solid rgba(60, 60, 67, 0.29);
      font-family: "SF Pro Text";

      &:first-child {
        border-top: 1px solid black;
      }
    }
  }
}

.user-info {
  height: 25%;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  gap: 20px;

  img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }

  div {
    height: 150px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    span {
      &:nth-child(2) {
        display: flex;
        gap: 20px;
      }
    }
  }
}

.posts {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;

  img {
    width: 100%;
  }
}

@media (max-width: 760px) {
  header {
    display: none;
  }

  .header-mobile {
    display: flex;
  }

  .main-content {
    width: 100%;

    nav {
      button {
        p {
          display: none;
        }

        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }

  .user-info {
    align-items: flex-start;

    span {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        height: 100px;

        p {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      &:last-child {
        position: fixed;
        top: 180px;
        left: 15px;
        padding-top: 10px;
      }
    }

    img {
      width: 80px;
      height: 80px;
    }
  }

  .posts {
    gap: 1px;
  }
}
