@import "./variables.scss";

.header-mobile {
  @include measure (10%, 100%);
  display: none;
  align-items: center;
  font-weight: 600;
  background: $bg-secondary;

  span {
    margin-left: auto;
  }

  img {
    &:last-child{
    margin-left: auto;
    margin-right: 0.7rem;
    }
  }
}

.main-content {
  @include measure(100%, 60%);
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  nav {
    @include flexbox(row, center, space-evenly);
    height: 10%;

    button {
      @include measure(100%, 100%);
      background: transparent;
      border-top: 1px solid $box-border;
      font-family: $theme-font;

      &:first-child {
        border-top: 1px solid rgb(0, 0, 0);
      }
    }
  }
}

.user-info {
  @include measure(25%, 100%);
  padding: 0.7rem 1.9rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;

  img {
    @include measure(9rem, 9rem);
    border-radius: 100%;
  }

  div {
    @include flexbox(column, stretch, space-around);
    height: 9.4rem;
    width: 80%;

    span {
      &:nth-child(2) {
        display: flex;
        gap: 1.25rem;
      }
    }
  }
}

.posts {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.25rem;

  img {
    width: 100%;
  }
}

@media (max-width: 760px) {
  header {
    display: none;
  }

  .header-mobile {
    display: flex;
  }

  .main-content {
    width: 100%;

    nav {
      button {
        p {
          display: none;
        }

        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }

  .user-info {
    align-items: flex-start;

    span {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        height: 6.25rem;

        p {
          @include flexbox(column, center, normal);
        }
      }

      &:last-child {
        position: fixed;
        top: 10.6rem;
        left: 0.9rem;
        padding-top: 0.7rem;
      }
    }

    img {
      width: 5rem;
      height: 5rem;
    }
  }

  .posts {
    gap: 1px;
  }
}
